# Node modules
node_modules/

# Variables de entorno
.env

# Logs
*.log
logs/
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Azure y despliegue
*.tgz
*.zip

# Editor de código
.vscode/
.idea/
